<!DOCTYPE html>
<html>
    <head>
        <title>Research Hub</title>
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body>
        <img src="../IMAGE/home.avif">
    <div class = "container">
        <div class = "welcome">
            <h3>Welcome to Research Hub</h3>
            <p>We are dynamic research enthuastic fostering innovation through expert mentorship and collaboration.Join us to explore, innovate, and make a difference in the world of research.</p><br>
    
            <span><a href = "login.html"><button class = "click">SignIn</button></a></span>
            <span><a href = "registration.html"><button class = "click">SignUp</button></a></span>

        </div>

        <div class = "contact">
        <p>Let's get in touch</p>
        <input type = "text" name = "Name" placeholder = "Name"><br><br>
        <input type = "email" name = "email" placeholder = "Email"><br><br>
        <input type = "text" name = "Message" placeholder = "Message"><br><br>
        <button type = "submit">Submit</button><br><br>
        </div>

    </div>
 </body>
</html>
