<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body> 
        
        <form method = "POST" action = "../VIEW/register.php">

        <h2 align="left">Registration Form</h2>
        <p align="left">Please fill in this form to create an account.</p>

        <fieldset>
            <legend>Account Information</legend>
        <table> 
        <tr>
            <td><label for ="username">Username:</label></td>
            <td><input type = "text" id = "username" name = "username">
            <span id="usernameError" style = "color: red;"></span>
            </td>
        </tr>

        <tr>
            <td><label for ="email">Email Adress:</label></td>
        <td><input type = "email" id = "Email" name = "Email">
        <span id="emailError" style = "color: red;"></span>
        </td>   
        </tr>

        <tr>
        <td><label for = "password">Password:</label></td>
        <td><input type = "password" id = "password" name = "password">
        <span id="passwordError" style = "color: red;"></span>
        </td>
        </tr>
        <tr>
        <td><label for = "photo">Profile Picture:</label></td>
        <td><input type = "file" id = "photo" name = "photo"></td>
        </tr>   
        </table>
        </fieldset>


        <fieldset>
            <legend>Personal Information</legend>
        <table>
        <tr>
            <td><label for = "address">Current Address:</label></td>
            <td><input type = "text" id = "address" name = "address"></td>
        </tr>

        <tr>
        <td><label for = "date of birth">Date of Birth:</label></td>
        <td><input type = "date" id = "date of birth" name = "date of bith"></td>
        </tr>

        <tr>
        <td><label for = "gender">Gender: </label></td>
        <td><span><input type = "radio" id="male" name ="gender" value="male"><label for="male">Male</label></span>
        <span><input type = "radio" id="female" name = "gender" value="female"><label for="female">Female</label></span>
        <span><input type = "radio" id="other" name = "gender" value="other"><label for="other">Other</label></span>
        </td>   
        </tr>

        <tr>
            <td><label for = "phone">Phone Number:</label></td>
            <td><input type = "text" id = "phone" name = "phone" required></td>
        </tr>
        </table>
        </fieldset>

        <button type = "submit">Submit</button><br><br>
        <a href = "login.html">Already have an account? Login here.</a></tr>

        </form>
    </body>
</html>