<!DOCTYPE html>
<html>
    <head>
        <title>Our team</title>
        <link rel="stylesheet" href="../CSS/team.css">
    </head>
    <body>    

            <div class = "team">
            <h1>Our Team</h1>
            <p>Our team is a diverse group of dedicated professionals committed to advancing research and innovation. </p>
            </div>


            <img id="admin" src="../IMAGE/admin.jpg" alt="Admin"><br>Iqramul Kabir<br>Admin
            <br><br>
            <img id="user" src="../IMAGE/user.jpg" alt="User"><br >Khadija Akter<br>Researcher
            <br><br>
            

    </body>
</html>